<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Cars</title>
    <style>
        .content {
            margin-left: 75px;
        }

        .form1 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>
<body>
<form method="POST" action="/cars/display">
    <label>Enter your ID:</label>
    <input type="text" name="id"/>

    <button type="submit">Submit</button>
</form>

<div class="info">
    {% if cars %}
        <h1>Cars owned by ID: {{ id }}</h1>
        <ul>
        {% for car in cars %}
            <li>{{ car[0] }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No cars found for ID {{ id }}</p>
    {% endif %}
</div>

</body>
</html>
