<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Cars</title>
    <style>
        .content {
            margin-left: 75px;
        }

        .form1 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>
<body>
<form method="POST" action="/users/display">
    <label>Enter car ID:</label>
    <input type="text" name="car_id"/>

    <button type="submit">Submit</button>
</form>

<div class="info">
    {% if users %}
        <ul>
        {% for user in users %}
            <h> User: {{ user[0] }}</h>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users found for car ID: {{ car_id }}</p>
    {% endif %}
</div>

</body>
</html>
