<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .content{
            margin-left:75px;
        }
        .form1{
            width: 100px;
            height: 100px;
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="form1">
        <form method="post">
            <label>Enter your email:</label>
            <input type="text" name="email"/>

            <label>Enter your name:</label>
            <input type="text" name="name"/>

            <button type="submit" >Submit</button>

        </form>
    </div>
</body>
</html>