<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .content{
            margin-left:75px;
        }
    </style>
</head>
<body>

    <hr>
    <div class="form">
        <form method="POST" action="/">
            <label>Enter your name:</label>
            <input type="text" name="name"/>
        
            <label>Enter your email id:</label>
            <input type="text" name="email"/>
        
            <label>Enter your phone number:</label>
            <input type="text" name="phone"/>

            <label>Enter your car:</label>
            <input type="text" name="car"/>
        
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="id">
        <h1>Your ID is: {{id}}</h1>
    </div>

</body>
</html>