<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>

    <style>
        .content {
            margin-left: 75px;
        }

        .form1 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>
<body>
<form method="POST" action="/update/">
    <label>Enter your ID:</label>
    <input type="text" name="id"/>

    <label>Enter the car to be updated:</label>
    <input type="text" name="car"/>

    <label>Enter the name of the new car:</label>
    <input type="text" name="updated_car"/>

    <button type="submit">Submit</button>
</form>


</body>
</html>
